{% extends 'base_sga.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}


<div class="col-md-9" style="margin-top: 30px;">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }}">
    {% ifequal message.tags 'success' %}

    
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ message }}
	</div>
	{% endifequal %}
	{% endfor %}
	{% endif %}
	<form id="id_form_profile" name="form" action="." method="POST" class="form-horizontal">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %} 

        {{ form|crispy }}
        <div class="col-sm-offset-2">
            <a href="#" class="btn btn-link">Cancelar</a>
            <button type="submit" class="button_outline text-center btn-info btn-new_ad hidden-xs">Salvar</button>
        </div>
    </form>
</div>
{% endblock content %}