{% extends 'base_sga.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load cloudinary %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" style="margin-top: 30px;">
{% ifequal message.tags 'success' %}
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
{{ message }}
</div>
{% endifequal %}
{% endfor %}
{% endif %}
<h1 class="page-header">Configurações</h1>
<div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">
        Editar perfil
    </div>
        <form enctype="multipart/form-data" id="id_form_profile" name="form" action="." method="POST" class="form-horizontal">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">{{ form.errors }}</div>
            {% endif %}
            {% for field in form %}
            {% if field.name == 'picture' %}
            {% if field.value %}
                {% if user.picture %}
                <img src="http://res.cloudinary.com/alexfalcucci/image/upload/c_fill,h_303,w_303/{{ user.picture }}.jpg" class="picture">
                {% else %}
                <img src="{% static 'img/picture.jpg' %}" alt="Usuário" width="150" height="150">
                {% endif %}
            {% else %}
            <img src="{% static 'img/picture.jpg' %}" alt="Usuário" width="150" height="150">
            {% endif %}
            {% endif %}
            {% bootstrap_field field layout='horizontal' %}
            {% endfor %}
            <div class="col-sm-offset-2">
                <a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-info">Salvar</button>
            </div>
        </form>
</div>

{% endblock content %}