{% extends 'base_sga.html' %}

{% block content %}
    

    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-heading">
            Gráfico colectivo
        </div>
         <div id="teste" width="100%"></div>
    </div>
    <span id="result1" class="col-md-12" style="display: none; margin-top: 10px;">
    <p class='alert alert-info' style='text-align: center;'><b>Detectamos que algum(s) usuários relacionados ao gráfico, precisam realizar todas as provas para que o gráfico seja completamente desenhado. Envie uma <a href="{% url 'new_message' %}">mensagem</a> para avisa-lo.</b></p>
</span>
<script>
    {% if median2 == 0 %}
        $("#result1").slideDown(1000)
                        .show(0)
                        .delay(12000)
                        .hide('slow');
    {% endif %}
</script>

 {% endblock content %}

 {% block js %}
 $(function () {
    $('#teste').highcharts({
        legend: {
            title: {
                    text: 'Usuários',
                    style: {
                        fontStyle: 'italic'
                    }
                },
            backgroundColor: '#FCFFC5',
            borderColor: '#C98657',
            shadow: true,
            borderWidth: 1
        },
        title: {
            text: 'Análise geral de usuários'
        },
        subtitle: {
            text: 'É uma análise <b>vigorosa</b> dos usuários que mais utilizam o sistema. Clique <a href="http://sistemasga.herokuapp.com/prova/performance/" style="color: red;">aqui</a> e <br/>veja sua análise individual.'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}%</b>'
        },
        xAxis: {
            categories: [
            {% for user in usernames %}
                '{{user}}',
            {% endfor %}
            ]
        },
        yAxis: {
            max: 100,
            title: {
                text: 'Índices de resultados',
                useHTML: Highcharts.hasBidiBug
        },
        opposite: false
    },
        labels: {
            items: [{
                html: 'Média Geral',
                style: {
                    left: '70px',
                    top: '-70px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series:[
        {
            type: 'column',
            name: '{{ titulos.0 }}',
            data: [{{ list_one.0 }},{{list_two.0}},{{list_three.0}},{{list_four.0}},{{list_five.0}}]
        },
        {
            type: 'column',
            name: '{{ titulos.1 }}',
            data: [
               {{ list_one.1 }},{{list_two.1}},{{list_three.1}},{{list_four.1}},{{list_five.1}}
            ]
        },
        {
            type: 'column',
            name: '{{ titulos.2 }}',
            data: [
               {{ list_one.2 }},{{list_two.2}},{{list_three.2}},{{list_four.2}},{{list_five.2}}
            ]
        },
        {
            type: 'column',
            name: '{{ titulos.3 }}',
            data: [
               {{ list_one.3 }},{{list_two.3}},{{list_three.3}},{{list_four.3}},{{list_five.3}}
            ]
        },
        {
            type: 'column',
            name: '{{ titulos.4 }}',
            data: [
               {{ list_one.4 }},{{list_two.4}},{{list_three.4}},{{list_four.4}},{{list_five.4}}
            ]
        },
        {
            type: 'spline',
            name: 'Média',
            data: [{{median1}}, {{median2}}, {{median3}}, {{median4}}, {{median5}}],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Média',
            data: [
            {%for prova in titulos %}
            {
                name: '{{ prova }}',
                y: 13,
                color: Highcharts.getOptions().colors[{{forloop.counter0}}]
            },
            {% endfor %}
            ],
            center: [80, -30],
            size: 90,
            showInLegend: false,
            dataLabels: {
                enabled: false,
            }
        }]
    });
});


 {% endblock js %}