{% extends 'messages/base_messages.html' %}
{% load i18n %}
{% load staticfiles %}
{% load cloudinary %}

{% block container %}
  {% if messages %}
  <ul class="conversation">
    {% for message in messages %}
      {% include 'messages/includes/partial_message.html' with message=message %}
    {% endfor %}
    <li class="send-message">
      {% cloudinary user.profile.picture %}
      <div style="margin-top: .3em">
        <form role="form" method="post" action="." id="send">
          {% csrf_token %}
          <input type="hidden" name="to" value="{{ active }}">
          <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off" style="width: 500px; margin-left: -50px; margin-top: -16px;">
        </form>
      </div>
    </li>
  </ul>
  {% else %}
     <span>Não existem mensagens.</span>
  {% endif %}
{% endblock container %}

