<main id="content">

            <article id="features" class="content-section section">

                <div class="content-container container">

                    <header class="section-header">
                        <h1 class="section-title">Recursos & Tecnologias</h1>
                    </header>

                    <section class="feature column">

                        <header class="feature-header">
                            <h1 class="section-subtitle feature-title">Praticidade</h1>
                        </header>

                        <p class="feature-description">A modalidade online permite superar as desvantagens e constrangimentos do formato papel.</p>

                        <footer>
                            <a class="section-button button" href="#" title="Learn more">Ler Mais</a>
                        </footer>

                    </section>

                    <section class="feature column">

                        <header class="feature-header">
                            <h1 class="section-subtitle feature-title">Flexibilidade</h1>
                        </header>

                        <p class="feature-description">A grande parte dos cursos online permite que os alunos tenham o seu próprio horário para estudar e realizar as provas.</p>

                        <footer>
                            <a class="section-button button" href="#" title="Learn more">Ler Mais</a>
                        </footer>

                    </section>

                    <section class="feature column">

                        <header class="feature-header">
                            <h1 class="section-subtitle feature-title">Django</h1>
                        </header>

                        <p class="feature-description">Django é um framework web de alto nível escrito em Python que estimula o desenvolvimento rápido e limpo.</p>

                        <footer>
                            <a class="section-button button" href="https://www.djangoproject.com/" title="Learn more">Ler Mais</a>
                        </footer>

                    </section>

                </div>

            </article>

            <article id="community" class="content-section section">

                <div class="content-container container">

                    <header class="section-header">
                        <h1 class="section-title">Comunidade</h1>
                    </header>

                    <p class="section-leader">S.g.a é um projeto open source, então, seja bem vindo para contribuir. Sinta-se à vontade para relatar bugs, contribuir para documentação do projeto ou apenas expressar sua opnião sobre o sistema.</p>

                    <ul class="social container" style="margin-right: -630px;">
                        <li class="social-item mail column">
                            <a class="social-link" href="https://groups.google.com/forum/?fromgroups#!forum/sga_system" title="SGA google groups">
                                <i class="social-icon icon fa fa-envelope"></i>
                                Google Group
                            </a>
                        </li>

                        <li class="social-item twitter column">
                            <a class="social-link" href="https://twitter.com/SgaSystem" title="SGA on twitter">
                                <i class="social-icon icon fa fa-twitter"></i>
                                Twitter
                            </a>
                        </li>
                        <li class="social-item google-plus column">
                            <a class="social-link" href="https://groups.google.com/forum/?hl=pt#!forum/sga_system" title="SGA on Google+">
                                <i class="social-icon icon fa fa-google-plus"></i>
                                Google+
                            </a>
                        </li>
                    </ul>

                </div>

            </article>

        </main>