<header id="header" class="section">

	<div class="container">

		<h1 class="brand">
			<a href="/"><img class="brand-image" src="{{ STATIC_URL }}img/logo2.png" alt="Tsuru"></a>
		</h1>

		<nav class="navigation">

			<ul class="navigation-items">
				<li class="navigation-item"><a class="navigation-link scroll-btn" href="#features" title="Features">Recursos & Tecnologia</a></li>
				<li class="navigation-item"><a class="navigation-link scroll-btn" href="#community" title="Community">Comunidade</a></li>
				<li class="navigation-item"><a class="navigation-link" href="http://docs.tsuru.io/en/latest/" title="Documentation">Documentação</a></li>
				<li class="navigation-item"><a class="navigation-link" href="http://blog.tsuru.io" title="Blog">O Sistema</a></li>
				<li class="navigation-item"><a class="navigation-link" href="#" title="Blog">Contato</a></li>
				<li class="navigation-item"><a class="navigation-link" href="/login/" title="Blog">Login</a></li>
			</ul>

		</nav>

	</div>

</header>