{% load staticfiles %}
<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
            <table>
                <tr>
                    <td>
                        <h3>Olá, {{user}}</h3>
                        <p class="lead">Quer saber mais sobre o sistema S.G.A?</p>
                        <p>A aplicação pode ser utilizada por você e todos que tenham acesso à internet. É completamente gratuita e OpenSource!</p>
                        <!-- Callout Panel -->
                        <p class="callout">
                            Experimente o sistema. <a href="http://sistemasga.herokuapp.com/">Click aqui! &raquo;</a>
                        </p><!-- /Callout Panel -->
                        <!-- social & contact -->
                                                <h5 class="">Siga-nos:</h5>
                                                <p class=""><a href="https://www.facebook.com/sistemasga" class="soc-btn fb">Facebook</a></p>
                                                <h5 class="">Contato:</h5>                                             
                                                <p>Telefone: <strong>+55 35 9991-3899</strong><br/>
                Email: <strong><a href="emailto:hseldon@trantor.com">managesga@gmail.com</a></strong></p>
            </table>
            </div><!-- /content -->
        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

</body>
</html>