{% load staticfiles %}

    <head>
        <meta charset="utf-8">
        <!-- Scripts -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'css/application.css' %}">
        <link rel="stylesheet" media="only screen and (min-width: 320px)" href="{% static 'css/small.css' %}">
        <link rel="stylesheet" media="only screen and (min-width: 720px)" href="{% static 'css/medium.css' %}">
        <link rel="stylesheet" media="only screen and (min-width: 1024px)" href="{% static 'css/large.css' %}">
        <link rel="stylesheet" media="only screen and (min-width: 1024px)" href="{% static 'css/login.css' %}">
        <script src="//code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'js/question.js' %}"></script>
        <title>S.G.A - System</title>
    </head>
