{% load staticfiles %}
{% block footer %}

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/questao.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
    <script src="{% static 'js/jquery.selection.js' %}"></script>
    <script src="{% static 'js/jquery.typeahead.bundle.js' %}"></script>
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/flot/excanvas.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/flot-data.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/alex.min.js' %}"></script>

    <script src="{% static 'js/plugins/metisMenu/metisMenu.min.js' %}"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    
    <!-- Hightcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
{% endblock footer %}
    
    