{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <header id="header" class="section">

        <div class="container">

            <h1 class="brand">
                <a href="/"><img class="brand-image" src="{% static 'img/logo2.png' %}" alt="Tsuru"></a>
            </h1>

            <nav class="navigation">

                <ul class="navigation-items">
                    <li class="navigation-item"><a class="navigation-link scroll-btn" href="#features" title="Recursos & Tecnologia">Recursos & Tecnologia</a></li>
                    <li class="navigation-item"><a class="navigation-link scroll-btn" href="#community" title="Comunidade">Comunidade</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="#" title="Documentation">Documentação</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="#" title="Contato">Contato</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="{% url 'account_login' %}" title="O Sistema">O Sistema</a></li>
                </ul>

            </nav>

        </div>

    </header>

        <section id="hero" class="section">

            <div class="container">

                <p>S.G.A é um serviço de gerenciamento avaliativo de provas e uma Plataforma completamente open source.</p>

                <footer>

                    <a class="button github" href="https://github.com/SGA-SYSTEM/sgasystem" title="Sga on Github">
                        <i class="button-icon fa fa-github"></i> Veja no Github
                    </a>

                </footer>

            </div>

        </section>

        <main id="content">

            <article id="features" class="content-section section">

                <div class="content-container container">

                    <header class="section-header">
                        <h1 class="section-title">Recursos & Tecnologias</h1>
                    </header>

                    <section class="feature column">

                        <header class="feature-header">
                            <h1 class="section-subtitle feature-title">Praticidade</h1>
                        </header>

                        <p class="feature-description">A modalidade online permite superar as desvantagens e constrangimentos do formato papel.</p>

                        <footer>
                            <a class="section-button button" href="#" title="Learn more">Ler Mais</a>
                        </footer>

                    </section>

                    <section class="feature column">

                        <header class="feature-header">
                            <h1 class="section-subtitle feature-title">Scale</h1>
                        </header>

                        <p class="feature-description">Scaling in Tsuru is completely painless. Just add a unit and Tsuru will take care of everything else.</p>

                        <footer>
                            <a class="section-button button" href="#" title="Learn more">Ler Mais</a>
                        </footer>

                    </section>

                    <section class="feature column">

                        <header class="feature-header">
                            <h1 class="section-subtitle feature-title">Django</h1>
                        </header>

                        <p class="feature-description">Django é um framework web de alto nível escrito em Python que estimula o desenvolvimento rápido e limpo.</p>

                        <footer>
                            <a class="section-button button" href="https://www.djangoproject.com/" title="Learn more">Ler Mais</a>
                        </footer>

                    </section>

                </div>

            </article>

            <article id="community" class="content-section section">

                <div class="content-container container">

                    <header class="section-header">
                        <h1 class="section-title">Comunidade</h1>
                    </header>

                    <p class="section-leader">S.g.a é um projeto open source, então, seja bem vindo para contribuir. Sinta-se à vontade para relatar bugs, contribuir para documentação do projeto ou apenas expressar sua opnião sobre o sistema.</p>

                    <ul class="social container" style="margin-right: -630px;">
                        <li class="social-item mail column">
                            <a class="social-link" href="https://groups.google.com/forum/?fromgroups#!forum/sga_system" title="SGA google groups">
                                <i class="social-icon icon fa fa-envelope"></i>
                                Google Group
                            </a>
                        </li>

                        <li class="social-item twitter column">
                            <a class="social-link" href="https://twitter.com/SgaSystem" title="SGA on twitter">
                                <i class="social-icon icon fa fa-twitter"></i>
                                Twitter
                            </a>
                        </li>
                        <li class="social-item google-plus column">
                            <a class="social-link" href="https://groups.google.com/forum/?hl=pt#!forum/sga_system" title="SGA on Google+">
                                <i class="social-icon icon fa fa-google-plus"></i>
                                Google+
                            </a>
                        </li>
                    </ul>

                </div>

            </article>

        </main>
    {% endblock content %}