{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="register" class="col-md-4">
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock %}

<script type="text/javascript">
		{% block javascript %}
			$(document).ready( function() {
		  $('#id_username').addClass( 'form-control' );
		  $('#id_email').addClass( 'form-control' );
		  $('#id_password1').addClass( 'form-control' );
		  $('#id_password2').addClass( 'form-control' );
		  $('input[type=submit]').addClass( 'btn' );
		});
{% endblock javascript %}
</script>