{% extends 'base_sga.html' %}

{% load staticfiles %}

{% block content %}

               <div id="container"></div>
                  <div id="sliders">
                    <table>
                      <tr><td>Ângulo Complementar</td><td><input id="R0" type="range" min="0" max="45" value="15"/> <span id="R0-value" class="value"></span></td></tr>
                        <tr><td>Ângulo Complementar</td><td><input id="R1" type="range" min="0" max="45" value="15"/> <span id="R1-value" class="value"></span></td></tr>
                    </table>
                  </div>
                </div>


{% endblock content %}

{% block js %}
$(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column',
            margin: 10,
            options3d: {
                enabled: true,
                alpha: 6,
                beta: 2,
                depth: 50,
                viewDistance: 25
            }
        },
        title: {
            text: 'Gráfico de desempenho por avaliações efetuadas'
        },
        subtitle: {
            text: 'Test options by dragging the sliders below'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        series: [{
            data: {{lista}}
        }]
    });
    

    // Activate the sliders
    $('#R0').on('change', function(){
        chart.options.chart.options3d.alpha = this.value;
        showValues();
        chart.redraw(false);
    });
    $('#R1').on('change', function(){
        chart.options.chart.options3d.beta = this.value;
        showValues();
        chart.redraw(false);
    });

    function showValues() {
        $('#R0-value').html(chart.options.chart.options3d.alpha);
        $('#R1-value').html(chart.options.chart.options3d.beta);
    }
    showValues();
});
{% endblock js %}