{% extends 'base_sga.html' %}
{% load staticfiles %}
{% block content %}
<div class="header">
     <div class="container">
        <div class="row">
           <div class="col-md-5">
              <!-- Logo -->
              <div class="logo">
                 <h1><a href="/" style="margin-left: -110px;">SGA System</a></h1>
              </div>
           </div>
           <div class="col-md-5">
              <div class="row">
                <div class="col-lg-12">
                  <div class="input-group form">
                       <input type="text" class="form-control" placeholder="Search...">
                       <span class="input-group-btn">
                         <button class="btn btn-primary" type="button">Search</button>
                       </span>
                  </div>
                </div>
              </div>
           </div>
           <div class="col-md-2">
              <div class="navbar navbar-inverse" role="banner">
                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
                        <ul class="dropdown-menu animated fadeInUp">
                          <li><a href="">Profile</a></li>
                          <li><a href="/accounts/logout/">Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
              </div>
           </div>
        </div>
     </div>
</div>


<div class="page-content">
    <div class="row">
                  <div class="col-md-2" id="menu">
                    <div class="sidebar content-box" style="display: block;">
                        <ul class="nav">
                            <!-- Main menu -->
                            <li class="current"><a href="{% url 'home_sga' %}"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> Usuários</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Desempenho</a></li>
                            <li class="submenu">
                                 <a href="#">
                                    <i class="glyphicon glyphicon-list"></i> Ações
                                    <span class="caret pull-right"></span>
                                 </a>
                                 <!-- Sub menu -->
                                 <ul>
                                    <li><a href="#">Criar Prova</a></li>
                                    <li><a href="#">Listar Provas</a></li>
                                </ul>
                            </li>
                        </ul>
                     </div>
                  </div>
                            <div class="col-md-6" style="margin-top: 30px;">
                                <div class="content-box-large">
                                    <h4>{{questao.questao}}</h4>
                                    <p>Escolha a resposta correta:</p>
                                    {% if respostas %}
                                        <form id="frm-answers">
                                            {% csrf_token %}
                                            <input type="hidden" name="user-exam-id" value="{{usuario_prova.id}}">
                                            <input type="hidden" name="question-id" value="{{questao.id}}">
                                            {% for resposta in respostas %}
                                                <label class="radio"><input type="radio" name="rb-answer" value="{{resposta.id}}"{% if usuario_resposta.resposta_alternativa.id == resposta.id %} checked {% endif %}> {{resposta.alternativa}} - {{resposta.resposta}}</label>
                                            {% endfor %}
                                            <div class="form-actions">
                                                <a href="/prova/{{usuario_prova.id}}/" class="btn btn-small btn-default" >Responder próxima</a>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                                <div id="alert">
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top: 30px;">
                                <div class="row">
                                    <div class="col-md-12 panel-warning">
                                        <div class="content-box-header panel-heading">
                                            <div class="panel-title "><b>Atenção com as respostas!</b></div>
                                        </div>
                                        <div class="content-box-large box-with-header">
                                        Para se tornar realístico e evitar razuras tornando a avaliação parecida com a  presencial, as respostas são armazenadas com apenas um clique. Então, pense bem antes de marcar a resposta correta!
                                        <br /><br />
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
    </div>
</div>
{% endblock content %}