{% extends 'base_account.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}



<style type="text/css" media="screen">
	#div_id_remember{
		display: none;
	}	

</style>

			{% block content %}
			<!-- LOGIN -->
			<section id="login" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="login-box-plain">
								<h2 class="bigintro"> {% trans "Log in" %} </h2>
								<div class="divide-40"></div>
								<form action="{% url 'account_login' %}" method="POST" role="form">
								{% csrf_token %}
								  <div class="form-group">
									{{ form|crispy }}
								  </div>
								  <div class="form-actions">
									<button type="submit" class="btn btn-danger">Submit</button>
								  </div>
								</form>
								<!-- SOCIAL LOGIN -->
								<div class="divide-20"></div>
								<div class="center">
									<strong>Ou registre-se usando sua conta social</strong>
								</div>
								<div class="divide-20"></div>
								<div class="social-login center">
									{% for provider in socialaccount.providers %}
									{% ifequal provider.name "Facebook" %}
									<a href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" class="btn btn-primary btn-lg">
										<i class="fa fa-facebook"></i>
									</a>
									{% endifequal %}
									{% ifequal provider.name "Twitter" %}
									<a class="btn btn-info btn-lg" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
										<i class="fa fa-twitter"></i>
									</a>
									{% endifequal %}
									{% endfor %}
								</div>
								<!-- /SOCIAL LOGIN -->
								<div class="login-helpers text-center">
									<a href="{% url 'account_reset_password' %}">Esqueceu sua senha?</a> <br>
									Ainda não é cadastrado?? <a href="{{ signup_url }}">Cadastre-se agora!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/LOGIN -->
			{% endblock content %}
			
			
	
