{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
{% include 'header.html' %}
<section id="hero" class="section" style="padding-top: 150px;">
	<div class="container">
		<h1>{% trans "Terminar Sessão" %}</h1>

		<p>{% trans 'Você tem certeza que deseja terminar esta sessão? ' %}</p>

		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
		  {% endif %}
		  <button type="submit" id="button_logout">{% trans 'Sair' %}</button>
		</form>
	</div>
</section>
{% include 'body.html' %}
{% endblock %}