{% extends "base_account.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}

<section id="hero" class="section" style="padding-top: 150px;">
			<div class="container">
			    <h1></h1>
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    
			    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
			    
			    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
			        {% csrf_token %}
			        {{ form|crispy }}
			        <input type="submit" value="{% trans "Reset My Password" %}" style="cursor: pointer;"/>
			    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

			</div>
</section>




{% block content %}
<!-- FORGOT PASSWORD -->
			<section id="forgot" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box-plain">
								<h2 class="bigintro">{% trans "Recuperar Senha" %}</h2>
								{% if user.is_authenticated %}
							    {% include "account/snippets/already_logged_in.html" %}
							    {% endif %}
								<div class="divide-40"></div>
								<form role="form" method="POST" action="{% url 'account_reset_password' %}">
								  <div class="form-group">
									{% csrf_token %}
			        				{{ form|crispy }}
								  </div>
								  <div class="form-actions">
									<button type="submit" class="btn btn-info">{% trans "Reset My Password" %}</button>
								  </div>
								</form>
								<div class="login-helpers"><h5 style="text-align: center;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</h5>
									<a href="{% url 'account_login' %}">{% trans "Efetuar login" %}</a> <br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- FORGOT PASSWORD -->
{% endblock %}
{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}