{% extends 'base_account.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}


{% block content %}
            <!-- LOGIN -->
            <section id="login" class="visible">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="login-box-plain">
                                <h2 class="bigintro">{% if token_fail %}{% trans "Token Inválido" %}{% else %}{% trans "Alterar Senha" %}{% endif %}</h2>
                                <div class="divide-40"></div>
                                {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}Este link acessado é inválido, possivelmente já foi expirado. Por favor, solicite um novo link: <a href="{{ passwd_reset_url }}">novo link</a>.{% endblocktrans %}</p>
                                {% else %}
                                {% if form %}
                                <form method="POST" role="form" action=".">
                                {% csrf_token %}
                                  <div class="form-group">
                                    {{ form|crispy }}
                                  </div>
                                  <div class="form-actions">
                                    <button type="submit" class="btn btn-danger">Alterar Senha</button>
                                  </div>
                                </form>
                                {% else %}
                                <strong>{% trans 'Sua senha ja foi alterada.' %}</strong>
                                {% endif %}
                                {% endif %}
                                <!-- SOCIAL LOGIN -->
                                <div class="divide-20"></div>
                                <div class="login-helpers">
                                    <a href="{% url 'account_login' %}" class="pull-right"> Efetuar login</a> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/LOGIN -->
{% endblock content %}
