{% extends "account/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% include 'header.html' %}
<section id="hero" class="section" style="padding-top: 150px;">
			<div class="container">
			    <h1>{% trans "Recuperar Senha" %}</h1>
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    
			    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
			    
			    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
			        {% csrf_token %}
			        {{ form|crispy }}
			        <input type="submit" value="{% trans "Reset My Password" %}" style="cursor: pointer;"/>
			    </form>
    
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
			</div>
</section>

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}