{% load staticfiles %}
<article>
  <h2><a href="{% url 'article' article.slug %}">{{ article.title }}</a></h2>
  <div class="info">
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ article.create_date }}
    </span>
    <span class="user">
      {% if article.create_user.picture %}
      <a href="{% url 'my_profile' article.create_user.username %}"><img src="http://res.cloudinary.com/alexfalcucci/image/upload/c_fill,h_30,w_30/{{ article.create_user.picture }}.jpg"></a>
      {% else %}
      <a href="{% url 'my_profile' article.create_user.username %}"><img src="{% static 'img/picture.jpg' %}"></a>
      {% endif %}
      <a href="{% url 'my_profile' article.create_user.username %}">{{ article.create_user.profile.get_screen_name }}</a>
    </span>
    <span class="comments">
      <span class="glyphicon glyphicon-comment"></span>
      {{ article.get_comments.count }} Comentários
    </span>
  </div>
  <div class="content">
    {{ article.get_content_as_markdown|safe }}
  </div>
  {% if article.get_tags %}
    <div class="tags">
      {% for tag in article.get_tags %}
        <a href="{% url 'tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}
    </div>
  {% endif %}
</article>