{% load humanize %}
{% load bootstrap3 %}
{% load cloudinary %}
{% load staticfiles %}

<div class="comment">
  {% if comment.user.picture %}
  <a href="{% url 'my_profile' comment.user.username %}"><img src="http://res.cloudinary.com/alexfalcucci/image/upload/c_fill,h_30,w_30/{{ comment.user.picture }}.jpg" class="comment-portrait"></a>
  {% else %}
  <img src="{% static 'img/picture.jpg' %}" alt="Usuário" class="comment-portrait">
  {% endif %}
  <div class="comment-text">
    <h5>
      <a href="{% url 'my_profile' comment.user.username %}">{{ comment.user.get_screen_name }}</a> 
      <small>{{ comment.date|naturaltime }}</small>
    </h5>
    <p>{{ comment.comment }}</p>
  </div>
</div>